@import "tailwindcss";

@font-face {
  font-family: "val";
  src: url("/font-val.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

#auth-button {
    animation: floating infinite 2s ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(0px)
    }
}

body {
    background-color: #151515;
}